
  .card-wrapper {
    position: relative;
  }
  
  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .shadow-background {
    transform: rotate(-8deg);
  }
  
  
  .card-content {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: skewY(4deg);
  }
  

  .quote-left {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
  }
  
  .quote-right {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
  }
  
